doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='http://127.0.0.1:3000/socket.io/socket.io.js')
    block scripts
